* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* setting principali */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* utility */
.editorial {
  background-color: #4da7e1;
  border-radius: 70px;
  border-color: transparent;
  color: white;
}
.check {
  border-color: #00ff00;
  background-color: white;
  color: #00ff00;
  border: 10px;
  border-radius: 50%;
  display: inline;
}

/* /utility */

/* inizio header */
.header-logo {
  max-width: 500px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 50px;
  background-color: white;
}

.titolo-principale {
  font-size: 40px;
  font-weight: 600;
  background-color: white;
  display: inline-block;
}
/* /header */

main {
  color: #4a4a4c;
  margin-left: 200px;
}

/* bottoni */
.bottoni {
  margin-bottom: 50px;
}
.primo-bottone {
  background-color: #46abea;
  color: white;
}
.secondo-bottone {
  color: #808080;
}
/* /bottoni */

.prima-parte-menu {
  margin-bottom: 20px;
}
